@import "tailwindcss";
@config "../tailwind.config.cjs";
@import "@heroui/styles";

html.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
  background-color: #020617;
  color: #e5e7eb;
}


